{{#each products as |product| }}
<div class="row mb-4 product">
    <div class="col-md-5">
        <h2>
            <a href="/product/{{product.id}}">{{product.name}}</a>
        </h2>
        <p>
            Location:
            {{product.location}}
        </p>
        <p>Created by {{product.name}} on {{format_date product.date}}</p>
    </div>
    <div class="col-md-7">
        <p>
            Product Description:
            {{product.description}}
        </p>
    </div>
</div>
{{/each}}