<div class="text-center">
  <h2>{{product_name}}</h2>
  <p>{{{get_emoji}}}</p>
  <p>{{description}}</p>
  <p>{{product_location}}</p>
  <p>Created by {{user.name}} on {{format_date product_date}}</p>
  <p>
    <button class="btn btn-primary">Create this Product!</button>
  </p>
</div>